@import 'bootstrap/dist/css/bootstrap.min.css'
@import '@fortawesome/fontawesome-free/css/all.css'
@import '@fortawesome/fontawesome-free/css/v4-shims.css'

\:root
  --brand-color1: rgb(54, 172, 7)
  --brand-color2: #485542
  --brand-color3: #ddd105
  --brand-color4: #389f0f
  --hover-blue: #3f90c6
  --hover-grey: #5c5b5b
  --white: #ffffff
  --black: #000000
  --cinza-claro: #F4F4F4
  --cinza: #cccbcb
  --cinza-escuro: #363535
  --focus: #ddd8d830
  --transparence-color2: #4caf50d4


body
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    font-size: 14px
    width: 100vw
    height: 100vh




h1, h2, h3, h4, h5, h6
    margin: 8px 0






