<app-sub-menu></app-sub-menu>
<div class="container-header"  >
  <header

  >
    <div class="col-md-3 mb-2 mb-md-0">
      <img src="./../../../assets/logo.png" alt="" width="25%" />
    </div>

<!--    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
<!--      <li>-->
<!--        <button-->
<!--          href="#"-->
<!--          style="color: var(&#45;&#45;brand-color1)"-->
<!--          class="nav-link px-2 link-secondary"-->
<!--        >Home</button-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <button-->
<!--          href="#"-->
<!--          style="color: var(&#45;&#45;brand-color1)"-->
<!--          class="nav-link px-2 link-secondary"-->
<!--          >Sobre</button-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <button-->
<!--          href="#"-->
<!--          style="color: var(&#45;&#45;brand-color1)"-->
<!--          class="nav-link px-2 link-secondary"-->
<!--        >Contato</button-->
<!--        >-->
<!--      </li>-->
<!--    </ul>-->

    <div class="col-md-3 text-end">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        style="
          border: 1px solid var(--brand-color1);
          color: var(--brand-color1);
        "
        (click)="login()"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-primary"
        style="
          background-color: var(--brand-color1);
          border: 1px solid var(--brand-color1);
        "
        (click)="cadastro()"
      >
        Criar conta
      </button>
    </div>
  </header>
</div>
