section
  width: 100%
  display: flex
  margin-top: 2em
  flex-direction: column
  justify-content: center

  .container-interno-cotacao
      width: 100%
      display: flex
      flex-direction: column
      gap: 2em
      justify-content: flex-start


