
  <footer  style="background-color: var(--brand-color4); color: white;">
    <div class="row" style="justify-content: space-around; padding: 0; margin: 0">
      <div class="col-6 col-md-2 mb-3">
        <h5>PLay Investe</h5>
        <ul class="nav flex-row" style="gap: 2em;">

          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 " style="color: white">Institucional</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 " style="color: white">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 " style="color: white">Trabalhe conosco</a>
          </li>
        </ul>
      </div>


      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5> Newsletter</h5>
          <p>Inscreva-se para receber as novidades.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email address"
            />
            <button class="btn btn-primary" type="button" style="background-color: var(--brand-color3); border: none; color: black">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="border-top" style="display: flex; flex-direction: row;justify-content: center">
      <p>© 2023 Play Investe. All rights reserved.</p>
    </div>
  </footer>

