<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-flex justify-content-end" style="grid-template-columns: 1fr 2fr;">

      <div class="flex-shrink-0 dropdown" style="display:flex;justify-content: flex-end; width: 100%">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="rounded-circle" >
            <i class="fa fa-user"></i>
          </div>
        </a>
        <ul class="dropdown-menu text-small shadow" style="">
          <li><a class="dropdown-item" href="#">Configurações</a></li>
          <li><a class="dropdown-item" href="#">Editar dados</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </div>

</header>
