section
  display: flex
  flex-direction: row
  width: 100%
  background-color: pink

.container-lateral
    display: flex
    width: 30%
    flex-direction: column
    border-right: 1px solid lightgrey

.container-main-info
   background-color: #389f0f
   width: 70%


